@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
:root{
--animeDuration:.7s;
}
*{
	margin: 0;
	padding: 0;
}
*,*::before,*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	display: block;
}
body{
font-family: 'Josefin Sans', sans-serif;
min-height: 100vh;
font-size: 20px;
position: relative;
/*font-family: 'Alata', sans-serif;*/
}[role="loader"]{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
[role="loader"] img{
	width: 30%;
	min-width: 200px;
}
header{
	position: relative;
	width: 100%;
}.site-title{
font-size: clamp(1.7rem,2.5vw,2.2rem);
font-family: 'Alata', sans-serif;
}#nav-with-title-container{
position: absolute;
color: white;
width: 100%;
font-weight: bolder;
z-index: 1;
}div[role="banner"]{
	position: relative;
}[role="banner"] img{
height: 100vh;
filter: grayscale(30%);
object-fit: cover;
width: 100%;

}[role="banner"] h2{
	position: absolute;
	top: 50%;
	letter-spacing: .2em;
	word-wrap: break-word;
	color:white;
	text-transform: uppercase;
	padding: .8em;
	border: 2px solid white;
	font-weight: 400;
	/*line-height: 1.5em;*/
	font-size: clamp(1.8rem,6vw,3rem);
	left: 50%;
	display: block;
	width: min(90%,700px);
	transform: translate(-50%,-50%);
	}#title-and-burger-menuBtnContainer{
	/*border: 1px solid red;*/
	display: flex;
	width: 90%;
	margin-inline:auto;
	margin-top: 1em;
	justify-content: space-between;
	align-items: center;
}#burger-menu-btn{
	color: white;
	outline: 2px solid white;
	border: none;
	padding: .35em .5em;
	font-size: 1.4rem;
	transition: transform .5s;
	background-color: transparent;
}#burger-menu-btn:is(:hover,:focus){
	outline: 2px dashed white;
	cursor: pointer;
	transform: scale(1.1);
}header nav {
	display: none;
	position: relative;
}.activeAnime{
		position: absolute;
		bottom: -10px;
		left: 0;
		border-radius: 5px;
		height: 3px;
/*		width: 48px;
*/		transition: left .4s;
		color: white;
		background-color:white;	
}.show-nav-for-mobile{
	position: fixed;
	top: 0;
	right: 0;
	display: grid;
	color: grey;
	place-items:center;
	/*animation: slideLeft .5s cubic-bezier(0.25, 0.1, 0, 1.36);*/
	animation: slideLeft .5s cubic-bezier(0.65, 0.63, 0, 1.43);
	animation-fill-mode: forwards;
	height: 100vh;
	background-color: #212121;
}.show-nav-for-mobile a{
	transition: 1s color;
	}.show-nav-for-mobile a:hover{
	color: white;
	}@keyframes slideLeft{
	from{
		width: 0;
	}
	to{
		width: 75%;
	}
}[role="overlay"]{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	height: 100vh;
	z-index: 1;
	background-color: #000000c2;
}
.show-nav-for-mobile ul{
	display: flex;
	flex-direction: column;
	row-gap:2em;
}#close-menuBtn{
	position: absolute;
	top: 3%;
	font-size: 3rem;
	color: white;
	background-color: transparent;
	outline: 1px solid white;
	border: none;
	top: 2%;
	padding: 0 .25em;
	transition: transform .5s;
	right: 5%;
}#close-menuBtn:is(:hover,:focus){
	outline: 2px dashed white;
	cursor: pointer;
	color: white;
	transform: scale(1.1);
}
li {
	list-style-type: none;
}a{
	color: inherit;
	text-decoration: none;
}
section{
	position: relative;
	width: 85%;
	margin: 7em auto;
}section p {
color: grey;
text-align: center;
line-height: 1.7em;
}section img{
margin-bottom: 1.5em;
border-radius: 5px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}section #about-info h2{
	text-align: center;
	padding: 1em 0;
	font-size: clamp(1.6em,3vw,2.5em);
	font-weight: 200;
}
section:nth-child(2) h2{
font-size: 1.8rem;
text-align: center;
padding: 20px 0;
font-weight: 300;
}
footer{
	background-color: black;
	color:white;
	padding: 2em;
	width: 100%;
}#footerbody{
	width: 93%;
	margin-inline: auto;
	display: flex;
	align-items: baseline;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}#footerbody ul{
	position: relative;
	display: flex;
	margin: 5px auto;
	flex-direction: column;
}.footer-section li{
margin: 15px auto;
}.social-images-container{
display: flex;
justify-content: space-around;
margin: 20px auto;
}.social-images-container img{
	transition: transform var(--animeDuration)
}
.social-images-container img:hover{
transform: translateY(-9px);

}
@media screen and (min-width: 798px){
section#about img{
	display: flex;
	justify-content: flex-start;
}
section div#about-info{
position: absolute;
left: 45%;
bottom: 0;
/*max-height: 387px;*/
padding: 1em 2.2em 0 2.2em;
background-color: white;
}section div#about-info p{
text-align: left;
}
}
#ourCreations figure {
	position: relative;

}figure{
transition: filter,transform .5s;
}figure img{
	filter: grayscale(40%);
	width: 100%;
	cursor: pointer;
	border-radius: 3px;
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	object-fit: cover;
}.img-container figure:hover{
filter: grayscale(100%);
transform: scale(.95);

}picture:hover img{
}figcaption{
	position: absolute;
	left: 5%;
	text-transform: uppercase;
	font-size: clamp(1.4rem,2.5vw,2rem);
	bottom: 30%;
	color: white;
	line-height: 1.2em;
}#see-all-button{
	background-color: white;
	border: 1px solid black;
	height: 35px;
	display: none;
	letter-spacing: .2em;
	width: 120px;
}#see-all-button:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
@media screen and (min-width: 750px){
	#burger-menu-btn,#close-menuBtn{
	display: none;
	}header nav{
	display: flex;
	}#nav-with-title-container a{
		font-size: .9rem;
	}#nav-with-title-container{
	display: flex;
	align-items: baseline;
	width: min(90%,1100px);
	left: 50%;
	transform: translate(-50%,50%);
}header nav ul{
		display: flex;
		column-gap:1em;
}.img-container{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 1em;
	/*row-gap: 1em;*/
}section img{
margin-bottom: 0;

}figcaption{
	left: 10%;
	letter-spacing: .1em;
	/*font-size: clamp(1rem,4vw,1.9rem);*/
	bottom:10%;
}.ourCreations-head-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}#see-all-button{
	display: block;
}

}
@media screen and (min-width: 850px){
	#footerbody {
	/*width: min(100%,862px);*/
flex-direction: row;
align-items: center;
justify-content: space-between;
}#footerbody ul{
flex-direction: row;
column-gap:1em;
/*margin-top: 40px;*/
}.footer-section:first-child{
text-align: left;
}
}.slideup-anime{
	animation: slideup-anime var(--animeDuration);

}.slideright-anime{
	animation: slideright-anime var(--animeDuration);
}.slideleft-anime{
	animation: slideleft-anime var(--animeDuration);
}@keyframes slideleft-anime{
	from{
		transform: translateX(30px);
		opacity: 0;
	}to{
		transform: translate(0);
		opacity: 1;
	}
}@keyframes slideright-anime{
	from{
		transform: translateX(-30px);
		opacity: 0;
	}to{
		transform: translate(0);
		opacity: 1;
	}
}
@keyframes slideup-anime{
	from{
		transform: translate(-50%,-20%);
		opacity: 0;
	}to{
		transform: translate(-50%,-50%);
		opacity: 1;
	}
}